Demo14_WCF/WcfServiceLibraryConversion_Client/Connected Services/ServiceReferenceConversiontemp/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConversionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConversionService_ConvertVersCelsius_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertVersCelsius" />
  </wsdl:message>
  <wsdl:message name="IConversionService_ConvertVersCelsius_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertVersCelsiusResponse" />
  </wsdl:message>
  <wsdl:message name="IConversionService_ConversionVersFahr_InputMessage">
    <wsdl:part name="parameters" element="tns:ConversionVersFahr" />
  </wsdl:message>
  <wsdl:message name="IConversionService_ConversionVersFahr_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConversionVersFahrResponse" />
  </wsdl:message>
  <wsdl:portType name="IConversionService">
    <wsdl:operation name="ConvertVersCelsius">
      <wsdl:input wsaw:Action="http://tempuri.org/IConversionService/ConvertVersCelsius" message="tns:IConversionService_ConvertVersCelsius_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConversionService/ConvertVersCelsiusResponse" message="tns:IConversionService_ConvertVersCelsius_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConversionVersFahr">
      <wsdl:input wsaw:Action="http://tempuri.org/IConversionService/ConversionVersFahr" message="tns:IConversionService_ConversionVersFahr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConversionService/ConversionVersFahrResponse" message="tns:IConversionService_ConversionVersFahr_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConversionService" type="tns:IConversionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertVersCelsius">
      <soap:operation soapAction="http://tempuri.org/IConversionService/ConvertVersCelsius" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConversionVersFahr">
      <soap:operation soapAction="http://tempuri.org/IConversionService/ConversionVersFahr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConversionService">
    <wsdl:port name="BasicHttpBinding_IConversionService" binding="tns:BasicHttpBinding_IConversionService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibraryConversion/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>