Demo14_WCF/WcfServiceLibraryConversion_Client/Connected Services/ServiceReferenceConversiontemp/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConvertVersCelsius">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="temp" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertVersCelsiusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertVersCelsiusResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConversionVersFahr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="temp" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConversionVersFahrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConversionVersFahrResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>