Demo14_ServiceWebTemperature/Demo14_ServiceWebTemperature_Clint/Connected Services/ServiceReferenceTemp/WebServiceTemp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculerTemperarure">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="caseTemp" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="valeur" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculerTemperarureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculerTemperarureResult" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CalculerTemperarureSoapIn">
    <wsdl:part name="parameters" element="tns:CalculerTemperarure" />
  </wsdl:message>
  <wsdl:message name="CalculerTemperarureSoapOut">
    <wsdl:part name="parameters" element="tns:CalculerTemperarureResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceTempSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculerTemperarure">
      <wsdl:input message="tns:CalculerTemperarureSoapIn" />
      <wsdl:output message="tns:CalculerTemperarureSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceTempSoap" type="tns:WebServiceTempSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculerTemperarure">
      <soap:operation soapAction="http://tempuri.org/CalculerTemperarure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceTempSoap12" type="tns:WebServiceTempSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculerTemperarure">
      <soap12:operation soapAction="http://tempuri.org/CalculerTemperarure" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceTemp">
    <wsdl:port name="WebServiceTempSoap" binding="tns:WebServiceTempSoap">
      <soap:address location="http://localhost:55842/WebServiceTemp.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceTempSoap12" binding="tns:WebServiceTempSoap12">
      <soap12:address location="http://localhost:55842/WebServiceTemp.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>